---
// src/layouts/TerminalLayout.astro
import '../styles/global.css';
import TerminalHeader from '../components/TerminalHeader.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro'; // 1. Importamos la nueva cabeza

// 2. Extraemos title y una descripción opcional
const { title = "repositorio_humano", description } = Astro.props;
---
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <TerminalHeader />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>